



.container2{
    border-radius: 10px;
    /* height: 95%; */
    width: 900px;
    margin:10px;
    padding:0px 20px 10px 20px;
    overflow-y: scroll;
    background-color: #1b1b1b;
}
.header{
    margin-top: 0 auto;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1b1b1b;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.search{
    display: flex;
    gap: 20px;
    align-items: center;
}
.search-h{
    height: 50px;
    width: 350px;
    background-color: #242424;
    border-radius: 50px;
    border:2px solid #fff;
    display: flex;
    align-items: center;
    gap:10px;
}
.svg-search-{
    fill: #fff;
    height: 20px;
    margin-bottom: 15px;
}
.search-h span{
    color: #a7a7a7;
}


.c-cards{
    display: grid;
    gap:25px;
    grid-auto-rows: 200px;
    grid-auto-columns: 100px;
    grid-template-columns: repeat(4, 1fr);
}
.cards{
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
}
.card1 h2{
    padding-left: 20px;
    color: #fff;
    
}
.card-img{
    height: 100px;
    width: 100px;
    transform: rotate(25deg) translate(15%,-2%);
    margin-top: 40px;
    margin-left: 100px;
}






@media(max-width:1050px) {
    
    .container1{
        max-width: 30px;
        min-width: 330px;
    }
    .container2{
        min-width:600px
    }
    .playing{
        max-width: 300px;
    }
}



@media (max-width: 800px){
    .body{      
        overflow-x: scroll;
    }
    .body::-webkit-scrollbar{
    display: none;
    }
    .container{      
        width: 960px;
    }
    .container1{
        min-width: 310px;
    }
    .container2{
        min-width:600px;
    }
    .header{
        width: 600px;
    }
    .contain{
        width:600px;
    }
    .box2- p{
        font-size: 11px;
        font-weight: 500;
        letter-spacing: 0px;
    }
    .b2-{
        height: 120px;
    }
    
    .play{
        width: 920px;
    }
    .song{
        width: 300px;
        
    }
    .playing{
        width:300px;
    }
    .name{
        display: flex;
        align-items: center;
        gap: 0px;
    }
    .svg-song{
        display: flex;
    }
    .p-btn{
        gap:10px
    }
    .t-btn{
        justify-content: center;
    }
    .t-line{
        width: 70%;
    }
}
@media(max-height:630px){
    .body{
        height: 640px;
        overflow-y: scroll;
    }
    .body::-webkit-scrollbar{
        display: none;
    } 
    
    
    .container1{ 
        height: 530px;
        height: 98.5%;
        border-radius: 10px;
    }
    .container2{
        height: 95%;
    }
    .play{
        height: 90px;
    }
    
}
